{
    "names" : [
      { "mode" : "alts" },
      [
        { "mode" : "serie","titleCase" : true },
        [ "super", "ultra","mega","hella","neko","busty","kawaii","sakura","uber","blood","angel","smut", "dr. ", "anime","yeet","kek", "yote","lit","sexy","bepis","epic","delirious","rad" ],
        ["","","","","","","","","","",""," "," "," "," ","-"],
        [ "fucker","bitch","swag","-chan","-kun","katana","edge","blade","gaming","blood","angel","neko","smut","potato","nebula","toes","thot","fox","kitsune","tiddies","licious","bepis", "blossom","nasty","style" ],
        ["69","420","69420","6969","666","413","720","-chan","-kun","-senpai","","","","","","","","","","","",""]
      ]
    ]
  }
  